/*============================================================================================*/
/* Your custom styles below */
/*============================================================================================*/
.docInfo{
	border: 1px solid;
	padding: 12px 12px 0;
	width: 80%;
}