/* YOUR CUSTOM CSS */
.db-icons .fa{
	font-size: 70px;
	padding-bottom: 20px;
	cursor: pointer;
}
.db-icons span{
	color: #323232;
	font-size: 15px;
	/*font-family: Arial;*/
	font-weight: bold;
}
.db-icons a:hover{
	text-decoration: none;
	color: #c1bfbf;
}
.db-icons a:hover i.fa{
	color: #c1bfbf !important;
}
.db-back-shadow:hover{
	background: #f4f2f2;
	padding-top: 20px 0;
}
.db-back-shadow{
	padding-top: 20px;
}
.div-P{
	/*width: 50px;*/

	line-height: 18px;
	margin-top: 10px;
}
.div-P p, .divP{
	font-size:12px;
	color: #c1bfbf;
	/*font-family: Arial;*/
}
.grp_btn a{

	border: 1px solid #303030;
	padding: 5px;
	border-radius: 3px;
	background: #303030;
	color: #FFF;
	text-decoration: none;
}
.grp_btn a:hover{

	background: #6b6565;
	text-decoration: none;
	color: #fff;
}
.grp_btn a.current_page{
	background: #6b6565;
	text-decoration: none;
	color: #fff;
}
.grp_btn{
	font-size: 13px;
	margin: 25px 0;
}
.sqicon{
	font-size: 25px;
}
form.box fieldset {
	margin: 50px 0 15px 0;
	padding: 10px 15px;
	border: 1px solid rgba(226, 226, 226, 0.5);
}
form.box fieldset legend {
	color: #999;
	padding: 0 10px;
	font-size: 12px;
	text-transform: uppercase;
}
legend {
	display: block;
	width: 100%;
	padding: 0;
	margin-bottom: 20px;
	font-size: 21px;
	line-height: inherit;
	color: #333;
	border: 0;
	border-bottom: 1px solid #e5e5e5;
}
.addNewBtn{
	padding-top: 35px;
}
.addNewBtn a, .addUp_btn input{
	font-size: 14px;
	text-decoration: none !important;
	color: #FFF !important;
}
.select2-container--default .select2-selection--single .select2-selection__arrow b{
	top: 60% !important;
}
.select2-container--default .select2-selection--single {
	background-color: #FCFCFC !important;
	border: 1px solid #a9a9a9 !important;
	border-radius: 2px !important;
	height: 34px !important;
}
.select2-container--default .select2-selection--single .select2-selection__rendered {
	color: #778895 !important;
	line-height: 32px !important;
}
span.select2.select2-container.select2-container--default {
	width: 100% !important; 

}
.addUp_btn{
	margin-top: 35px;
}
.error{
	color: red !important;
	font-size: 12px !important;
}

.textarea-height{
	height: 44px;
}

.text-white{
	color: #fff;
}
.reportGenTblPie{
	cursor: pointer;
}
#pro-file-upload {
	padding: 17px;
	line-height: 12px;
	height: 45px;
}
#pro-file-upload span {
	color: #fff;
	font-weight: 699;
	font-size: 15px;
}
.file-field input[type=file] {
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	width: 24%;
	margin: 0;
	padding: 0;
	font-size: 20px;
	cursor: pointer;
	opacity: 0;
	filter: alpha(opacity=0);
}
.docInfo{
	border: 1px solid;
	padding: 12px 12px 0;
	width: 80%;
}
.ui-datepicker-month, .ui-datepicker-year{
	color: #323232;
}
.ui-timepicker-list{

	background: #F9F8F8;
	width: 340px;
	min-width: 340px;
	min-height: 365px;
	/*border: 1px solid;*/
	padding: 0;
	text-align: center;
	padding-top: 20px;
	box-shadow: 0 0 5px 5px #dcdcdc;
	border-radius: 7px;
}
.ui-timepicker-list li {
	display: inline-block;
	width: 100px;
	padding: 10px 0;
	border: 1px solid #d9bb73;
	margin-bottom: 20px;
	margin-left: 8px;
	color: #ff8800;
}
.ui-timepicker-list li:hover {
	background: #FF8800;
	color: #FFF;
}

.ui-dialog-titlebar{
	background: #E9E9E9;
	color: black;
	border: none;
	border-radius: 0px;
}
.ui-button-icon.ui-icon.ui-icon-closethick{
	position: relative !important;
	left: -3px !important;
	top: -4px !important; 
	visibility: visible;
}
.ui-dialog-titlebar.ui-corner-all.ui-widget-header.ui-helper-clearfix.ui-draggable-handle{
	background: #e9e9e9;
	color: #000;
	border: unset;
}
.ui-resizable-handle.ui-resizable-se.ui-icon.ui-icon-gripsmall-diagonal-se {
	visibility: hidden !important;
}
button.ui-button.ui-corner-all.ui-widget.ui-button-icon-only.ui-dialog-titlebar-close{
	visibility: hidden;
}
.ui-dialog.ui-corner-all.ui-widget.ui-widget-content.ui-front.ui-draggable.ui-resizable{
	border: unset;
}
.ui-datepicker-inline.ui-datepicker.ui-widget.ui-widget-content.ui-helper-clearfix.ui-corner-all {
	margin: 0 auto;
}
.docCard{
	cursor: pointer;
	color: inherit;
	text-decoration: none;
}
.docCard:hover{
	cursor: pointer;
	color: inherit;
	text-decoration: none;
}
.docInfo{
	border: 1px solid;
	padding: 12px 12px 0;
	width: 80%;
}

/* /////// TABS ///////*/

#tabs {
	font-size: 90%;
	margin: 20px 0;
}
#tabs ul.tabs {
	float: left;
	background: #fff;
	width: 100%;
	padding-left:0px;
	padding-top: 4px;
	border-bottom: 1px solid #CCC;
	padding-bottom: 0px;
}

#tabs ul.tabs li:hover
{
	border-color: #cfcfcf;
	border-bottom-color: #b5b5b5;
	background-position: 0 -50px;
}

* html #tabs li {
	display: inline;
	
}
#tabs ul.tabs li, #tabs ul.tabs li a {
	float: left;
}
#tabs ul.tabs  li.active {
	background: none;
	border-top:2px solid #eee;
}
#tabs ul.tabs  li.active a {
	/*color: #333333;*/
}
#tabs div {
	clear: both;
	padding: 15px;
	min-height: 200px;
}
#tabs div h3 {
	margin-bottom: 12px;
}
#tabs div p {
	line-height: 150%;
}
#tabs ul.tabs  li a {
	text-decoration: none;
	padding: 8px;
	color: #212529;
	font-size: 13px;
}

/*View Prescription Css*/

#prescription_info 
{
	/*margin-top:20px;*/
	overflow: hidden;
}
#prescription_info .details
{
	width: 45%;float: right;padding-left: 0px;margin-left: 10px;
}
#prescription_info span.date
{
	float: right;margin:-20px 10px 0 0;
	display: block;width:100px;
}
#prescription_info .patient_info
{
	/*margin-bottom: 30px;*/
}
#prescription_info .patient_info span
{
	margin-right: 40px;
}
#prescription_info .patient_info span:last-child
{
	margin-right: 0px;
	margin-left:7px;
	font-weight:bold;
	
}

/*.noprint
{display: none;
}
.hideThink
{
	visibility:hidden;
	}*/
	caption
	{
		display: none;
	}
	.tests caption
	{
		display: inline;
		font-style: italic;
		font-size: 125%;
		color:#666;
	}

	/* Table Design */
	table.zebra {
		width: 100%;
		overflow:hidden;
		font-family: Arial;
	}
	table.zebra {
		border-right: 1px solid lightGrey;
		border-bottom: 1px solid lightGrey;
		background: rgba(255, 255, 255, 0.8);
		box-shadow: 0 1px 2px 
		rgba(0, 0, 0, 0.05);
	}
	table.zebra caption {
		color: 	#777;
	}
	table.zebra caption {
		font-size: 11px;
		text-align: left;
		font-style: italic;
	}
	table.zebra thead {
		background: #EFEFEF;
	}

	table.zebra tr {
		border-top: 1px solid lightGrey;
		border-right: 1px solid lightGrey;
	}


	table.zebra tr td, table.zebra tr th {
		border-left: 1px solid lightGrey;
		border-right: 1px solid lightGrey;
	}
	table.zebra thead th {
		color: #888;
		font-size: 12px;
		font-weight: bold;
		text-transform: uppercase;
	}
	table.zebra th, table.zebra td {
		padding: 5px;
	}
	table.zebra th {
		font-size: 16px;
		font-weight: normal;
		text-align: left;
	}









	table.zebra { width: 100%;margin-bottom:3px; }

	table.zebra th {
		font-size: 15px;
		font-weight: normal;
		text-align: left;
	}

	table.zebra th,
	table.zebra td { padding: 7px; }

	table.zebra tbody,
	table.zebra tfoot { font-size: 11px; }

	table.zebra .bold { font-weight: bold; }
	table.zebra .center { text-align: center; }

	table.zebra td * { vertical-align: middle; }

	table.zebra tfoot { font-style: italic; }

	table.zebra caption {
		font-size: 10px;
		text-align: left;
		font-style: italic;
	}
	table.zebra thead th { border-bottom: 1px solid #e2e2e2; }

	table.zebra tbody td { border-bottom: 1px solid #e2e2e2; }
	ul.zebra > li:first-child,
	table.zebra tbody tr:first-child td { border-top: 1px solid #e2e2e2; }

	ul.zebra > li.odd,
	table.zebra tbody tr.odd { background: #fafafa; }
	ul.zebra > li:nth-of-type(odd),
	table.zebra tbody tr:nth-of-type(odd) { background: #fafafa; }
	table.zebra {
		border-right: 1px solid #d3d3d3;
		border-bottom: 1px solid #d3d3d3;
		background: rgba(255,255,255,0.8);
		box-shadow: 0 1px 2px rgba(0,0,0,0.05);
	}

	table.zebra caption { color: #777; margin-top:5px;display: block}

	table.zebra thead {
		background: #efefef;
		background: -moz-linear-gradient(
			50% 0%,
			#f7f7f7 0%,
			#e8e8e8 100%
			);
		background: -webkit-gradient( 
			linear,
			50% 0%,
			50% 100%,
			color-stop(0%, #f7f7f7),
			color-stop(100%, #e8e8e8)
			);
	}

	table.zebra thead th {
		color: #888;
		font-size: 11px;
		font-weight: bold;
		text-transform: uppercase;
	}

	table.zebra tr { border-top: 1px solid #d3d3d3;border-right: 1px solid black; }

	table.zebra tr:hover,
	table.zebra tbody tr:nth-of-type(odd):hover,
	table.zebra tbody tr.odd:hover {
		background: #fff;
		box-shadow: inset 0 1px 1px rgba(0,0,0,0.06);
	}

	table.zebra tr td,
	table.zebra tr th {	border-left: 1px solid #d3d3d3;border-right: 1px solid lightGrey; }

	table.zebra tfoot tr {
		border-bottom: 1px solid #c3c3c3;
		background: rgba(0,0,0,0.02);
	}
	table {
		border-collapse: collapse;
		border-spacing: 0;
	}
/* Definition Lists
----------------------------------------------------------------------------------------------------*/

dl.separator {
	padding: 0;
	overflow: hidden;
	margin: 15px 0;
}

dl.separator dt {	
	width: 90px;
	padding-right: 10px;
	float: left;
	clear: both;
}

dl.separator dd {
	margin-left: 100px;
	padding-left: 10px;
	line-height: 18px;
}


dl.separator dt {	
	position: relative;
	padding-top: 5px;
	padding-bottom: 5px;
	text-transform: uppercase; 
}

/* border code because of RTL */
dl.separator dd {
	padding-top: 5px;
	padding-bottom: 10px;
	border-width: 0 0 0 1px;
	border-style: solid;
	border-color: #e2e2e2;
}

dl.separator dt:before {
	content: "";
	position: absolute;
	top: -4px;
	width: 30px;
	border-top: 1px solid #e2e2e2;
	left: 85px;
}

dl.separator dt:after {
	content: "";
	position: absolute;
	top: -6px;
	right: -3px;
	width: 5px;
	height: 5px;
	background: #fff;
	border: 1px solid #e2e2e2;
	border-radius: 6px;
	left: 98px;
}

dl.separator dt:first-child:before,
dl.separator dt:first-child:after { display: none; }

/*.instr_detail_row{
margin-top: 5rem!important;
}*/
.patient_info li {
	padding-left: 30px;
	padding-right: 30px;
	font-size: 15px;
}


/*  Branding  */
/*.branding
{
	clear:both;
	position:absolute;
	bottom:10px;
	text-align: center;
	width: 100%;
	overflow: hidden;

	}*/
	.fail{
		width: 40%;
		margin: 0 auto;
	}